{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="wrap">
            {{ form_start(register_form) }}
            <div class="text-center" id="regiser-form">
                <div class="form-group row">
                    {{ form_label(register_form.name, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.name, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(register_form.surname, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.surname, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(register_form.username, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.username, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(register_form.email, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.email, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(register_form.plainPassword.first, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.plainPassword.first, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(register_form.plainPassword.second, null, { 'label_attr':{ 'class': 'col-sm-2 col-form-label' }}) }}
                    <div class="col-sm-10">
                        {{ form_widget(register_form.plainPassword.second, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form_widget(register_form.Registrarse, {'attr': {'class': 'btn btn-success' }}) }}
                    </div>
                </div>
            </div>
            {{ form_end(register_form) }}
        </div>
    </div>
{% endblock %}